@import '~bootstrap/scss/bootstrap';

$primary: #007bff;
$secondary: #6c757d;
$dark: #343a40;
$light: #f8f9fa;
$success: #28a745;
$white: #fff;
$dark-opac: #343a4080;
$linear-gradient: linear-gradient(
  rgba(0, 0, 0, 0.9),
  rgba(0, 0, 0, 0.9)
);

body {
  background-color: $dark;
}

hr {
  background-color: $light;
}

.logo {
  align-items: center;
  justify-content: center;
}

.caption {
  text-shadow: #343a40 1px 0 10px;
  font-weight: bold;
}

.logo {
  font-size: 400%;
  text-shadow: 8px 8px 8px #000000;
}

.quote {
  background: radial-gradient(
      #343a4080,
      #343a4000
    );
}
